{% extends 'board/base.html' %}

{% block content %}
	<h1>Hello world!</h1>
{% endblock %}

{% block sidebar %}
          <h3>Our Sidebar</h3>
          <p class="text-muted">You can put any information here you'd like.
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Lastest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendar</li>
              <li class="list-group-item list-group-item-light">Etc</li>
            </ul>
          </p>
{% endblock sidebar %}